<h1>Iniciando git 3</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint expedita cupiditate laborum in. Dignissimos eveniet unde aliquid veritatis quo at assumenda optio. Ipsum non aperiam dolorum, qui ipsa blanditiis nesciunt?</p>

<h2>GIT 3</h2>
<P>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt ex eligendi non itaque maxime enim, quidem minima quas illo ea animi fugit atque aliquam exercitationem quo odio qui consequatur obcaecati?</P>
<nav class="navbar navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24">
    </a>
  </div>
</nav>
<div class="cajita">
Areli Garcia
</div>
